<ion-header>
    <ion-navbar>
        <ion-title>Critères de recherche</ion-title>
        <ion-buttons end>
            <button ion-button (click)="dismiss()" icon-left>
                <ion-icon name="md-close" color="danger" showwhen="android,windows,core"></ion-icon>
                Fermer
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>   
        <ion-item>
                <ion-label color="primary" floating>
                    <span>Categorie</span>
                </ion-label>
                <ion-select [(ngModel)]="filtre.type" name="type" #type="ngModel"> 
                    <ion-option value="Boutique">Boutique</ion-option>
                    <ion-option value="Super-Marche">Super-Marché</ion-option>
                    <ion-option value="Kiosque">Kiosque</ion-option>
                    <ion-option value="Menage">Menage</ion-option>
                    <ion-option value="Boulangerie">Boulangerie</ion-option>
                    <ion-option value="Debit de boisson">Debit-de-boisson</ion-option>
                    <ion-option value="Station-service">Station-service</ion-option>
                    <ion-option value="Point de vente">Point de vente</ion-option>
                </ion-select>
            </ion-item>
    <ion-item>
        <ion-label color="primary">
            <span>Dans la ville de </span>
        </ion-label>
        <ion-select [(ngModel)]="filtre.ville" name="ville" #ville="ngModel">
            <ion-option value="">Toutes les villes</ion-option>
            <ion-option value="Yaoundé">Yaoundé</ion-option>
            <ion-option value="Douala">Douala</ion-option>
            <ion-option value="Bafoussam">Bafoussam</ion-option>
            <ion-option value="Bertoua">Bertoua</ion-option>
            <ion-option value="Bamenda">Bamenda</ion-option>
            <ion-option value="Dschang">Dschang</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="secteurs&&secteurs.length">
        <ion-label color="primary" >
            <span>Situés dans la zone de </span>
        </ion-label>
        <ion-select [(ngModel)]="filtre.secteur" name="secteur" #secteur="ngModel">
            <ion-option  value="">Toutes les zones</ion-option>
            <ion-option *ngFor="let secteur of secteurs" [value]="secteur.id">{{secteur.nom}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item-divider>Periode</ion-item-divider>
        <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating><span>Entre le </span></ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="D MMM  YYYY" min="2019" doneText="Terminé"
                            cancelText="Annuler" name="afterdate" [(ngModel)]="filtre.afterdate" #date="ngModel"></ion-datetime>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label color="primary" floating><span> avant le </span></ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="D MMM  YYYY" min="2019" doneText="Terminé"
                            cancelText="Annuler" name="beforedate" [(ngModel)]="filtre.beforedate" #date="ngModel">
                        </ion-datetime>
                    </ion-item>
                </ion-col>
            </ion-row>            
    <ion-item *ngIf="users&&users.length">
        <ion-label color="primary" >
            <span>Opérations réalisées par</span>
        </ion-label>
        <ion-select [(ngModel)]="filtre.doneBy" name="doneBy" #user="ngModel">
            <ion-option  value="">Tout le monde</ion-option>
            <ion-option *ngFor="let user of users" [value]="user.id" [hidden]="!user.nom">{{user.nom}}</ion-option>
        </ion-select>
    </ion-item>
</ion-content>
<ion-footer>
    <button ion-button full (click)="onSubmit()">Appliquer les critères
    </button>
</ion-footer>
