<ion-header  no-border no-shadow>
    <ion-navbar>
        <button menuToggle  ion-button icon-only showwhen="mobile">
            <ion-icon name="menu"></ion-icon>
          </button>
      <ion-row no-padding>
          <ion-col>  <ion-title>Liste des zones</ion-title></ion-col>
          <ion-col>
            <ion-searchbar [hidden]="!secteurs.length"  [(ngModel)]="queryText" (ionInput)="search()" placeholder="Recherchez un produit">
            </ion-searchbar>         
          </ion-col>
        </ion-row>       
      <ion-buttons end>
      <button ion-button="ion-button" icon-only (click)="loadRemoteData()" >
          <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button small outline (click)="add()" icon-left>
          <ion-icon name="add" ></ion-icon>
          Créer
      </button>          
  </ion-buttons>    
    </ion-navbar>
  </ion-header>
  <ion-content padding-top>     
      <ion-list>
          <ion-list-header>Liste des zones ({{secteurs.length}} )</ion-list-header>
          <ion-item  *ngFor="let secteur of secteurs" (click)="add(secteur)" [hidden]="secteur.hide" text-wrap>
                <span *ngIf="secteur.ville">{{secteur.ville}} - </span> <strong>{{secteur.nom}}</strong>
              <p>{{secteur.description}}</p>
          </ion-item>
      </ion-list>
      <ion-grid style="justify-content: center;height: 100%;" *ngIf="loading"> 
          <ion-row style="justify-content: center;height: 100%;" justify-content-center align-items-center>
              <ion-spinner name="ios"></ion-spinner>
          </ion-row>
          
        </ion-grid> 
        <ion-grid style="height: 80%;justify-content: center;position:absolute;top:20%" *ngIf="!secteurs.length&&!loading">
            <ion-row style="height: 100%;justify-content: center;" justify-content-center align-items-center>
                <div text-center text-wrap  class="empty" padding>
                  Aucune zone crée.
                </div>
            </ion-row>
          </ion-grid>
  </ion-content> 
           