
<ion-header #head>
    <ion-navbar>
    <ion-row no-padding>
        <ion-col>  <ion-title>Selectionnez un quartier</ion-title></ion-col>
        <ion-col>
          <ion-searchbar [hidden]="!newQuartiers.length"  [(ngModel)]="queryText" (ionInput)="search()" placeholder="Rechercher">
          </ion-searchbar>         
        </ion-col>
      </ion-row>    
    <ion-buttons end>
        <button ion-button outline (click)="dismiss()" color="danger" icon-only>
            <ion-icon name="md-close" showWhen="android,windows,core"></ion-icon>
          </button>
          <button ion-button small outline (click)="add()" icon-left>
              <ion-icon name="add" ></ion-icon>
              Saisir
          </button>          
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding-top hide-header [header]="head">
  <ion-list *ngIf="newQuartiers.length" inset>
      <ion-item *ngFor="let quartier of newQuartiers" (click)="dismiss(quartier.nom)" [hidden]="quartier.hide">
        {{quartier.nom}}
      </ion-item>     
  </ion-list>
</ion-content>
