<ion-header  no-border no-shadow>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button  icon-only  (click)="dismiss()" icon-left>
                <ion-icon name="ios-close" color="danger"></ion-icon>
            </button>           
        </ion-buttons> 
        <ion-row no-padding>
                <ion-col> <ion-title >Les produits</ion-title></ion-col>
                <ion-col>
                        <ion-searchbar [hidden]="!produits.length" [(ngModel)]="queryText" (ionInput)="search()" placeholder="Recherchez un produit">
                            </ion-searchbar>           
                </ion-col>
              </ion-row>               
      <ion-buttons end>
      <button ion-button small outline (click)="add()" icon-left>
          <ion-icon name="add" ></ion-icon>
          Créer
      </button>           
  </ion-buttons>    
    </ion-navbar>
  </ion-header>
  <ion-content>
        <ion-card>
                <ion-card-header text-wrap>Selectionnez un produit pour l'ajouter à la vente</ion-card-header>
        </ion-card>    
      <ion-list *ngIf="produits&&produits.length">
          <ion-item  *ngFor="let produit of produits" (click)="select(produit)" [hidden]="produit.hide">
              {{produit.nom}}
              <p>{{produit.description}}</p>
              <ion-note item-right>{{produit.cout}}</ion-note>
          </ion-item>
      </ion-list>
      <ion-grid style="justify-content: center; height: 100%;" *ngIf="loading"> 
            <ion-row style="justify-content: center;height: 100%;" justify-content-center align-items-center>
                <ion-spinner name="ios"></ion-spinner>
            </ion-row>
          </ion-grid>  
            <ion-grid style="height: 80%;justify-content: center;position:absolute;top:20%" *ngIf="!produits.length&&!loading">
                <ion-row style="height: 100%;justify-content: center;" justify-content-center align-items-center>
                    <div text-center text-wrap  class="empty" padding>
                      Aucun element a afficher.
                    </div>
                </ion-row>
              </ion-grid>  
  </ion-content>
  <ion-footer >
        <ion-row><ion-col>{{produits.length}} lignes</ion-col><ion-col></ion-col><ion-col></ion-col></ion-row>
      </ion-footer>