// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.transparent-header {
    // This is just to make the header transparent and button/icon with white color
    .toolbar-content,
    .back-button {
      color: white;
    }
    .toolbar-background,
    ion-navbar,
    ion-header {
      background: transparent !important;
      background-color: transparent !important;
    }
    .header-md::after,
    .toolbar-background-ios {
      background-image: none;
      border-bottom: 0;
    }
    .header-ios .toolbar-background-ios,
    .footer-ios .toolbar-background-ios {
      border: 0;
    }
    // ---
}

.label-md {
    margin: 5px 8px 5px 0;
}
ion-modal.inset-modal {
	border-radius: 12px;
	box-shadow: 0 2px 6px 0 hsla(205,9%,48%,.14);
  background-color: rgba(0, 0, 0, .5) !important;
  transition: opacity .25s ease-in-out;
  padding: 20vh 10vw;
}


.top-radius {
  border-radius: 10% 10% 0 0;
}

.bottom-radius {
  border-radius: 0 0 10% 10%;
}


ion-footer button {
  margin: 0 !important;
}

.empty {
  text-align: center;
  margin-top: -20%;
  padding-left: 10%;
  padding-right: 10%; 
   font-size: 1.2em;
  //color:map-get($colors, light);  
}  
