<ion-header>
    <ion-navbar>
        <ion-title *ngIf="getPointVente(commende)">{{commende.date|date:'dd/MM/yyyy' }} - {{getPointVente(commende).nom}} </ion-title>
        <ion-buttons end="end">
            <button ion-button="ion-button" outline="outline" color="white" (click)="openCart()" *ngIf="commende.lignes.length">
                <span>{{TotalQuantity(commende)}} 
                </span>
            </button>
            <button ion-button icon-only (click)="save()">
                <ion-icon name="save"></ion-icon>
            </button>           
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
        <ion-searchbar color="primary" [(ngModel)]="queryText" (ionInput)="search()" placeholder="Recherchez un nom">
            </ion-searchbar>    
        <ion-list> 
             <ion-item>
                <ion-label color="primary"><span>Date</span></ion-label>
                <ion-datetime 
                   displayFormat="DD/MM/YYYY"
                   pickerFormat="D MMM  YYYY" min="2019" max="2050"
                   doneText="Terminé" cancelText="Annuler"
                   name="date"
                   [(ngModel)]="commende.date"
                    #date="ngModel"></ion-datetime>
              </ion-item>
    </ion-list> 
    <ion-list>
        <ion-item  *ngFor="let produit of produits" (click)="addInCart(produit)" [hidden]="produit.hide">
            {{produit.nom}}
            <p>{{produit.description}}</p>
            <ion-note item-right>{{produit.cout}}</ion-note>
        </ion-item>
    </ion-list>
</ion-content>