<ion-header no-border #head>
  <ion-navbar hideBackButton="true">
      <button menuToggle  ion-button icon-only showWhen="mobile">
          <ion-icon name="menu"></ion-icon>
        </button>    
      <ion-row no-padding>
          <ion-col> <ion-title >Historique des visites et livraisons</ion-title></ion-col>
          <ion-col>
            <ion-searchbar [hidden]="!commendes.length"  [(ngModel)]="queryText" (ionInput)="search()" placeholder="Recherchez un nom">
            </ion-searchbar>         
          </ion-col>
        </ion-row>    
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh"></ion-icon>
      </button>
      <button ion-button icon-left outline (click)="add()">
        <ion-icon name="add"></ion-icon>
        Créer
      </button>
    </ion-buttons>    
  </ion-navbar>
</ion-header>
<ion-content padding-top hide-header [header]="head">
 <ion-row justify-content-around>
   <ion-col col-6 >
    <button ion-button icon-left outline small (click)="openFilter()" [disabled]="!isOnline"><ion-icon name="funnel"></ion-icon> 
      Critères <span *ngIf="nbrecriteres&&isOnline">  -  ({{nbrecriteres}})</span>
    </button>
   </ion-col>
   <ion-col col-6 class="item-right">
    <button float-right ion-button icon-left outline small (click)="openMap()" [disabled]="!commendes.length"> <ion-icon name="map" ></ion-icon>Carte</button>
  </ion-col>   
 </ion-row>
<ion-list *ngIf="commendes.length&&!loading">
    <ion-list-header>Historique des ventes ({{commendes.length }})</ion-list-header>
  <ion-item-sliding  *ngFor="let commende of commendes"  #slidingItem [hidden]="commende.deleted||commende.hide">
  <ion-item (click)="openCart(commende)" text-wrap>
    <div *ngIf="commende.pointVente&&commende.id">
    <strong>{{commende.pointVente.nom |uppercase}}</strong> -  {{commende.date|date:'dd/MM/yyyy à H:mm' }} -> {{commende.ca}} FCFA  | {{commende.quantite}} colis
    <p><span>{{commende.pointVente.type}}</span><span *ngIf="commende.pointVente.ville">,{{commende.pointVente.ville}}</span><span *ngIf="commende.pointVente.quartier">,{{commende.pointVente.quartier}}</span><span>{{commende.pointVente.adresse}}</span></p>
    <p> {{commende.date|moment:'fromnow'}} <b *ngIf="commende.user&&commende.user.nom">  {{commende.user.nom}}</b></p>
  </div>
  </ion-item>
  <ion-item-options side="right" [hidden]="commende.terminated">    
      <button ion-button color="danger" (click)="confirm(commende,slidingItem)">
        <ion-icon name="trash"></ion-icon> supprimer
      </button>          
  </ion-item-options>        
 </ion-item-sliding> 
 <div padding>
  <button ion-button block small clear (click)="refresh()" style="text-transform: none;">Afficher plus</button>   
 </div>  
</ion-list> 
<ion-grid style="height: 80%;justify-content: center;position:absolute;top:20%" *ngIf="!commendes.length&&!loading">
    <ion-row style="height: 100%;justify-content: center;" justify-content-center align-items-center>
        <div text-center text-wrap  class="empty" padding>
          Aucun element correspondant aux critères.
        </div>
    </ion-row>
  </ion-grid> 
  <ion-grid style="justify-content: center; height: 100%;" *ngIf="loading">
    <ion-row style="justify-content: center;height: 100%;" justify-content-center align-items-center>
        <ion-spinner name="ios"></ion-spinner>
    </ion-row>
  </ion-grid>   
<ion-fab right bottom>
  <button ion-fab color="primary" (click)="add()"><ion-icon name="add" ></ion-icon></button>
</ion-fab>
</ion-content>